<nav class="navbar navbar-expand-md navbar-light border-bottom border-dark border-2">
    <div class="container">

      <!-- md 以上: logo - 7tao - search - 兩個 icon
      以下: logo - search - hamberger -->

      <!-- logo -->
      <a class="navbar-brand d-flex align-items-center me-md-7" href="#">
        <img class="me-3 logo img-fluid" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/logo.png?raw=true" alt="">
        <h2 class="fs-2 me-1 mb-0 d-none d-md-block">7TAO</h2>
        <p class="noto-tc-serif mb-0 d-none d-md-block">活動售票網</p>
      </a>

      <!-- search & 2 icons justify-content-between -->

      <div class="d-flex justify-content-between">

        <!-- search 探索活動 -->
        
        <form class="d-flex">
          <input class="form-control border-dark" type="search" placeholder="探索活動" aria-label="Search">
          <button class="btn btn-dark" type="submit"><i class="icofont-search-1 text-primary"></i></button>
        </form>
        
        <!-- hamberger menu btn-->
        <button class="navbar-toggler border-dark rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="border-top border-dark border-2 mt-2 border-md-0"></div>
          <ul class="navbar-nav mt-2 mb-2 mb-lg-0 ms-auto px-3">
              <li class="nav-item me-4">
                  <a class="nav-link text-dark" href="#"><i class="icofont-ui-file me-1"></i>REGISTER</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-dark" href="#"><i class="icofont-ui-user me-1"></i>LOGIN</a>
              </li>
          </ul>
        </div>
      </div>

      

    </div>
</nav>
