
.logo{
	width: 53px;
	height: 53px;
}

.w-32{
	width: 32px;
}

// li a:hover{
// 	// color: #9C9E18;
// 	color: green;
// }

.header-link{
	color: #030303;
}

.header-link:hover{
	color: #9C9E18;
}


/* phone */
@media(max-width: 767px){

	.logo{
		width: 40px;
		height: 40px;
	}

	
}